.header {
    background-color: #222;
    color: gray;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    margin-left: 50px;
    

  }
   .header img {
    width: 2cm !important; /* Ajusta el tamaño según tus necesidades */
    height: 2cm !important;
    margin-top: 5px;
    border-radius: 1%;
  }
  
 