.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 60px; /* Ajusta el top para dejar espacio para el Header */
  bottom: 0; /* Ajusta el navbar desde el top hasta el bottom */
  width: 200px;
  background-color: #343a40;
  padding-top: 20px;
  z-index: 100; /* Asegura que el Navbar esté por debajo del contenido principal */
}

.navbar ul {
  list-style-type: none; /* Quita el punto de cada <li> */
  padding: 0;
}

.lista {
  margin:0;
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin: 5px 0;
}

.navbar a {
  display: block; /* Hace que el enlace ocupe todo el <li> */
  padding: 20px; /* Espaciado alrededor del texto */
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background-color: #3c4045; /* Fondo un poco más oscuro para cada opción */
}

.navbar a:hover {
  text-decoration: underline;
  background-color: #4a4f55; /* Fondo más oscuro al pasar el ratón */
}

/* Ajuste para evitar superposición con el Header */
.header {
  position: relative;
  z-index: 200; /* Asegura que el Header esté por encima del Navbar */
  background-color: #f8f9fa;
  padding: 10px;
}

/* Ajuste para el contenido principal */
.main-content {
  margin-left: 220px; /* Ajusta el margen izquierdo para dejar espacio para el Navbar */
  margin-bottom: 100px; /* Ajusta el margen inferior para dejar espacio para el Footer */
}

/* Ajuste para el Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  z-index: 200; /* Asegura que el Footer esté por encima del Navbar */
}
